/*--------------------------------------------------------------

Template: Theme Name
Author: 
Version:  1
Design and Developed by: 

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

.mobile-menu-area {
    background: #20b7ef none repeat scroll 0 0;
}
.blog-details a.button::after,
.img-text a.button::after {
    background: #20b7ef none repeat scroll 0 0;
}
.offer-icon {
    border: 1px solid #c1c1c1;
    float: left;
    font-size: 18px;
    height: 52px;
    line-height: 52px;
    margin-right: 15px;
    text-align: center;
    width: 52px;
    background-color: #fff;
    transition: all .3s ease 0s;
    color: #20b7ef;
}
.service-left:hover .offer-icon,
.service-left:hover .offer-icon i {
    border: 1px solid #20b7ef;
    background-color: #20b7ef;
    color: #fff;
}
#toTop i:hover {
    background-color: #20b7ef;
    color: #fff;
}
.header-top-info a i {
    color: #20b7ef;
    padding-right: 8px;
}
.header-top-info a:hover,
.header-top-language ul li a:hover,
.header-top-social > ul li a:hover {
    color: #20b7ef;
}
.menu-area ul li:hover a {
    color: #20b7ef;
}
.menu-area ul li:hover ul li a {
    color: #20b7ef;
}
.menu-area ul li:hover ul li a:hover {
    color: #20b7ef;
}
.menu-area ul li.active a {
    color: #20b7ef;
}

.mobile-menu-area  ul li:hover ul li a {
    color: #20b7ef;
}

.mobile-menu-area ul li:hover ul li a:hover{
    color: #20b7ef;
}

.mobile-menu-area ul li.active a {
    color: #20b7ef;
}

.mobile-menu-area .mobile-menu ul li:hover a {
    color: #20b7ef;
}

a:focus,
a:hover {
    color: #20b7ef;
    text-decoration: none;
}
a.button {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: #20b7ef;
    color: #fff;
    font-size: 15px;
}
.text-theme {
    color: #20b7ef;
}
input:focus {
    background: transparent;
    border: 1px solid #20b7ef;
}
.service-from a.button {
    background-color:#20b7ef;
    margin-right: 0;
    text-transform: capitalize;
}
.chosen-container .chosen-drop ul li.highlighted {
    background: #20b7ef;
}
button.submit {
    background-color: #20b7ef;
    border: inherit;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 30px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    position: relative;
}
.header-top-language ul li ul.dropdown-menu > li > a:hover,
.header-top-language ul li ul.dropdown-menu > li > a:focus {
    background-color: inherit;
    color: #20b7ef;
}
.menu-area nav > ul > li > ul,
.menu-area nav > ul > li > ul ul {
    background-color: #fff;
    margin-top: 30px;
    opacity: 0;
    padding: 15px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    z-index: -99;
    border-top: 1px solid #20b7ef;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.reg-panel{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-top: 5px solid #20b7ef;
}
.breadcrumbs-area.bg-contact{
    background-image: url("../images/phone.jpg");
}
.breadcrumbs-area.bg-about{
    background-image: url("../images/about.jpg");
}
.breadcrumbs-area.bg-event{
    background-image: url("../images/news.jpg");
}
.breadcrumbs-area.bg-affiliate{
    background-image: url("../images/academy.jpg");
}